:host {
  display: block;
}

.badge.indicator {

  top: 10px
}

layout-navbar {
  display: block;

}

#ngb-typeahead-0 .dropdown-menu {
  width: 900px !important;
}

.dropdown-menu {
  width: 352px
}

.masterResultsBox{
  width: 901px
}
