:host {
  display: block;
}

.badge.indicator {

  top: 10px
}

layout-navbar {
  display: block;

}

.dropdown-menu {
  width: 900px !important;
}

//.navbar-nav .dropdown-menu {
//  width: 900px
//}

.masterResultsBox{
  width: 901px
}
