<sidenav [orientation]="orientation" [ngClass]="getClasses()">

  <!-- Inner -->
  <div class="sidenav-inner" [ngClass]="{ 'py-1': orientation !== 'horizontal' }">



    <sidenav-router-link icon="ion ion-md-quote" route="/" [active]="isActive('/')">Rolodex Overview</sidenav-router-link>

    <!-- Contacts -->
    <sidenav-menu icon="ion ion-md-cube" text="Contacts" [active]="isMenuActive('/contacts')" [open]="isMenuActive('/contacts')">
      <sidenav-router-link route="/contacts/create" [active]="isActive('/contacts/create')">Add a Contact</sidenav-router-link>
      <sidenav-router-link route="/contacts/addresses" [active]="isActive('/contacts/addresses')">Update Contact Addresses</sidenav-router-link>
    </sidenav-menu>

    <sidenav-header class="small font-weight-semibold">ADMINISTRATION</sidenav-header>

    <sidenav-router-link icon="ion ion-md-quote" route="/typography" [active]="isActive('/admin/contacts')">Contacts</sidenav-router-link>
    <sidenav-router-link icon="ion ion-md-quote" route="/typography" [active]="isActive('/admin/organizations')">Organizations</sidenav-router-link>
  </div>
</sidenav>
