<h4 class="font-weight-bold py-3 mb-4">
  <span class="text-muted font-weight-light">Rolodex /</span> Add a Contact
</h4>
<div class="alert alert-warning alert-dismissible fade show rs-max-panel-width" role="alert">
  <strong>Warning:</strong> The ability to create contacts exists for testing and diagnostic purposes. Generally, you
  should be creating contact
  records in the Rhythm application
  to which the contact is applicable.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="contactForm" (ngSubmit)="saveChanges()">
  <div class="card mb-4 rs-max-panel-width">

  </div>
  <ngb-tabset class="nav-tabs-top mb-4 rs-max-panel-width contact-tabset">
    <ngb-tab title="Basic Profile">
      <ng-template ngbTabContent>
        <div class="card-body ">
          <div class="row">
            <div class="form-group col-sm-2 user-avatar">
              <i class="fas fa-user-circle"></i>
              <div>
                <button type="button" class="btn btn-default btn-take-photo"><i
                  class="fas fa-camera-retro"> </i>
                  Photo
                </button>
              </div>
            </div>
            <div class="col-sm-10">
              <div class="form-group row">
                <label class="col-form-label col-sm-2 text-sm-right">Mode:</label>
                <div class="col-sm-8 " style="line-height: 35px">
                  <span style="color:green">New Contact Add</span>
                  <span class="d-none" style="color:blue">Existing Contact Edit [XS3rud91]</span>
                </div>

              </div>
              <div class="form-group row">
                <label class="col-form-label col-sm-2 text-sm-right">Name:</label>
                <div class="col-sm-8">
                  <input class="form-control" formControlName="name"
                         placeholder="Full name, including salutation and suffix">
                </div>

                <a (click)="showAdditionalNameOptions = !showAdditionalNameOptions" class="panel-toggler">
                  <label class="col-form-label col-sm-2 text-sm-left"><i
                    class="fa fa-chevron-left pull-right "></i></label>
                </a>

              </div>
              <div [ngbCollapse]="!showAdditionalNameOptions">
                <div class="form-group row">
                  <label class="col-form-label col-sm-2 text-sm-right offset-2">Salutation:</label>
                  <div class="col-sm-4">
                    <input class="form-control" formControlName="salutation"
                           placeholder="Mr., Mrs., Dr.">
                  </div>

                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-2 text-sm-right offset-2">First Name:</label>
                  <div class="col-sm-6">
                    <input class="form-control" formControlName="first_name">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-2 text-sm-right offset-2">Middle Name:</label>
                  <div class="col-sm-6">
                    <input class="form-control" formControlName="middle_name">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-2 text-sm-right offset-2">Last Name:</label>
                  <div class="col-sm-6">
                    <input class="form-control" formControlName="last_name">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-2 text-sm-right offset-2">Suffix:</label>
                  <div class="col-sm-4">
                    <input class="form-control" formControlName="suffix">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-2 text-sm-right offset-2">Nickname:</label>
                  <div class="col-sm-6">
                    <input class="form-control" formControlName="nickname">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-sm-2 text-sm-right">E-mail Address:</label>
                <div class="col-sm-8">
                  <input class="form-control" formControlName="email_address"
                         placeholder="example@domain.com">
                </div>
                <a (click)="showAdditionalEmails = !showAdditionalEmails" class="panel-toggler">
                  <label class="col-form-label col-sm-2 text-sm-left"><i
                    class="fa fa-chevron-left pull-right"></i></label>
                </a>
              </div>
              <div [ngbCollapse]="!showAdditionalEmails">
                <div class="form-group row">
                  <label class="col-form-label col-sm-2 text-sm-right">E-Mail Address #2:</label>
                  <div class="col-sm-8">
                    <input class="form-control" formControlName="email_address2"
                           placeholder="example@domain.com">
                  </div>

                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-2 text-sm-right ">E-Mail Address #3:</label>
                  <div class="col-sm-8">
                    <input class="form-control" formControlName="email_address3"
                           placeholder="example@domain.com">
                  </div>

                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-sm-2 text-sm-right">Phone Number:</label>
                <div class="col-sm-5">
                  <input class="form-control"
                         placeholder="(xxx) xxx-xxxx">
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3 ">
                  <select class="form-control">
                    <option>Mobile</option>
                    <option>Home</option>
                    <option>Work</option>
                    <option>Alternate</option>
                  </select>
                </div>
                <label class="col-form-label col-sm-1 text-sm-left"><i class="fas fa-plus pull-right"></i></label>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-sm-2 text-sm-right">Address:</label>
                <div class="col-sm-5">
                  <input class="form-control"
                         placeholder="2359 Narnia Lane, City State Zip">
                </div>
                <div class="col-sm-1">
                  <a (click)="showAdditionalEmails = !showAdditionalEmails" class="panel-toggler">
                    <label class="col-form-label text-sm-left"><i class="fa fa-chevron-left pull-right"></i></label>
                  </a>

                </div>

                <div class="col-sm-3 ">
                  <select class="form-control">
                    <option>Home</option>
                    <option>Work</option>
                    <option>Alternate</option>
                  </select>
                </div>
                <label class="col-form-label col-sm-1 text-sm-left"><i class="fas fa-plus pull-right"></i></label>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-sm-2 text-sm-right">Organization:</label>
                <div class="col-sm-4">
                  <input class="form-control" formControlName="organization_id" type="text">
                </div>
                <label class="col-form-label col-sm-2 text-sm-right">Job Title:</label>
                <div class="col-sm-4">

                  <input class="form-control" formControlName="job_title" type="text">
                </div>

              </div>
              <div class="form-group row">
                <label class="col-form-label col-sm-2 text-sm-right">Role(s):</label>
                <div class="col-sm-4">
                  <input class="form-control" formControlName="contact_role_ids" type="text">
                </div>
                <label class="col-form-label col-sm-2 text-sm-right">Credentials:</label>
                <div class="col-sm-4">

                  <input class="form-control" formControlName="certifications" type="text">
                </div>

              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Additional Profile Information">
      <ng-template ngbTabContent>
        <div class="card-body ">

          <div class="row">
            <div class="form-group col-sm-4">
              <label class="form-label ">Gender:</label>

              <select class="form-control">
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
            <div class="form-group col-sm-4">
              <label class="form-label ">Date of Birth:</label>

              <input class="form-control" type="text" placeholder="mm/dd/yyyy">
            </div>
          </div>

          <div class="form-group col-sm-10">
            <label class="form-label ">Notes:</label>

            <textarea class="form-control" placeholder="Any pertinent notes, info, etc."
                      rows="5"
                      formControlName="notes"></textarea>
          </div>

        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Social Networks">
      <ng-template ngbTabContent>

        <div class="card-body ">

          <div class="row">
            <div class="form-group col-sm-4">
              <label class="form-label ">Facebook:</label>

              <input class="form-control" type="text" >
            </div>
            <div class="form-group col-sm-4">
              <label class="form-label ">Instagram:</label>

              <input class="form-control" type="text" >
            </div>
            <div class="form-group col-sm-4">
              <label class="form-label ">Twitter Handle:</label>

              <input class="form-control" type="text" >
            </div>
            <div class="form-group col-sm-4">
              <label class="form-label ">LinkedIn:</label>

              <input class="form-control" type="text" >
            </div>
          </div>


        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Custom Demographics">
      <ng-template ngbTabContent>

      </ng-template>
    </ngb-tab>
  </ngb-tabset>


  <div class="row rs-max-panel-width  ">
    <div class="col-md-12  ">
      <div class="form-group " style="text-align: center">
        <BR>
        <button [ladda]="isSaving" (click)="saveChanges()" data-style="expand-right" class="btn btn-round btn-primary"
                type="submit">Save Changes
        </button>
        <button class="btn  btn-round btn-outline-secondary m-lg-3" type="cancel">Cancel</button>
      </div>
    </div>
  </div>
</form>
