<h4 class="font-weight-bold py-3 mb-4">
  <span class="text-muted font-weight-light">Rolodex /</span> Add a Contact
</h4>
<div class="alert alert-warning alert-dismissible fade show rs-max-panel-width" role="alert">
  <strong>Warning:</strong> The ability to create contacts exists for testing and diagnostic purposes. Generally, you
  should be creating contact
  records in the Rhythm application
  to which the contact is applicable.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="contactForm" (ngSubmit)="saveChanges()">
  <div class="card mb-4 rs-max-panel-width">
  </div>
  <ngb-tabset class="nav-tabs-top mb-4 rs-max-panel-width contact-tabset">
    <ngb-tab title="Basic Profile">
      <ng-template ngbTabContent>
        <div class="card-body ">
          <div class="row">
            <div class="form-group col-sm-2 user-avatar">
              <i class="fas fa-user-circle"></i>
              <div>
                <button type="button" class="btn btn-default btn-take-photo"><i
                  class="fas fa-camera-retro"> </i>
                  Photo
                </button>
              </div>
            </div>
            <div class="col-sm-10">
              <div class="form-group row">
                <label class="col-form-label col-sm-2 text-sm-right">Mode:</label>
                <div class="col-sm-8 " style="line-height: 35px">
                  <span style="color:green">New Contact Add</span>
                  <span class="d-none" style="color:blue">Existing Contact Edit [XS3rud91]</span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-sm-2 text-sm-right ">Name:</label>
                <div class="col-sm-8">
                  <input class="form-control" [ngClass]="shouldShowFormErrorFor('name') ? 'is-invalid' : ''"
                         formControlName="name" autocomplete="name"
                         placeholder="Full name including salutation and suffix">
                  <small class="invalid-feedback" *ngIf="shouldShowFormErrorFor('name')">C'mon... you've got to at
                    least give us a name.
                  </small>
                </div>
                <div class="panel-toggler">
                  <a (click)="showAdditionalNameOptions = !showAdditionalNameOptions">
                        <span [ngClass]="showAdditionalNameOptions ? 'collapsed' : ''">
                        <i
                          class="fa fa-chevron-left pull-right "></i>
                        </span>
                  </a>
                </div>
              </div>
              <div [ngbCollapse]="!showAdditionalNameOptions">
                <div class="form-group row">
                  <label class="col-form-label col-sm-2 text-sm-right offset-2">Salutation:</label>
                  <div class="col-sm-4">
                    <input class="form-control" formControlName="salutation" autocomplete="honorific-prefix"
                           placeholder="Mr., Mrs., Dr.">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-2 text-sm-right offset-2">First Name:</label>
                  <div class="col-sm-6">
                    <input class="form-control" formControlName="first_name" autocomplete="given-name">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-2 text-sm-right offset-2">Middle Name:</label>
                  <div class="col-sm-6">
                    <input class="form-control" formControlName="middle_name" autocomplete="middle-name">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-2 text-sm-right offset-2">Last Name:</label>
                  <div class="col-sm-6">
                    <input class="form-control" formControlName="last_name" autocomplete="family-name">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-2 text-sm-right offset-2">Suffix:</label>
                  <div class="col-sm-4">
                    <input class="form-control" formControlName="suffix" autocomplete="honorific-suffix"
                           placeholder="Jr., Sr., III, IV">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-2 text-sm-right offset-2">Nickname:</label>
                  <div class="col-sm-6">
                    <input class="form-control" formControlName="nickname" autocomplete="nickname">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-sm-2 text-sm-right">E-mail Address:</label>
                <div class="col-sm-8">
                  <input class="form-control" [ngClass]="shouldShowFormErrorFor('email_address') ? 'is-invalid' : ''"
                         formControlName="email_address" autocomplete="email" type="email"
                         placeholder="example@domain.com">
                  <span class="invalid-feedback" *ngIf="shouldShowFormErrorFor('email_address')">Please enter a valid
                        email address.
                        </span>
                </div>
                <div class="panel-toggler">
                  <a (click)="showAdditionalEmails = !showAdditionalEmails">
                        <span [ngClass]="showAdditionalEmails ? 'collapsed' : ''">
                        <i
                          class="fa fa-chevron-left pull-right "></i>
                        </span>
                  </a>
                </div>
              </div>
              <div [ngbCollapse]="!showAdditionalEmails">
                <div class="form-group row">
                  <label class="col-form-label col-sm-2 text-sm-right">E-Mail Address #2:</label>
                  <div class="col-sm-8">
                    <input class="form-control" [ngClass]="shouldShowFormErrorFor('email_address2') ? 'is-invalid' : ''"
                           formControlName="email_address2" autocomplete="email" type="email"
                           placeholder="example@domain.com">
                    <span class="invalid-feedback" *ngIf="shouldShowFormErrorFor('email_address2')">Please enter a valid
                           email address.
                           </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-2 text-sm-right ">E-Mail Address #3:</label>
                  <div class="col-sm-8">
                    <input class="form-control" [ngClass]="shouldShowFormErrorFor('email_address3') ? 'is-invalid' : ''"
                           formControlName="email_address3" autocomplete="email" type="email"
                           placeholder="example@domain.com">
                    <span class="invalid-feedback" *ngIf="shouldShowFormErrorFor('email_address3')">Please enter a valid
                           email address.
                           </span>
                  </div>
                </div>
              </div>
              <div formArrayName="phone_numbers"
                   *ngFor="let phone_number of phone_numbers.controls; let i=index">
                <div class="form-group row" [formGroupName]="i">
                  <label class="col-form-label col-sm-2 text-sm-right">Phone Number:</label>
                  <div class="col-sm-5">
                    <input class="form-control" autocomplete="tel" formControlName="phone_number"
                           (blur)="formatPhoneNumber(i)"
                           placeholder="(xxx) xxx-xxxx">
                  </div>
                  <div class="col-sm-1"></div>
                  <div class="col-sm-3 ">
                    <select class="form-control" formControlName="phone_number_type"
                            [ngClass]="phone_numbers.errors ? 'is-invalid' : ''">
                      <option value="mobile">Mobile</option>
                      <option value="home">Home</option>
                      <option value="work">Work</option>
                      <option value="alternate">Alternate</option>
                    </select>
                    <span class="invalid-feedback" *ngIf="phone_numbers.errors    ">
                           You've specified the same phone number type multiple times.
                           </span>
                  </div>
                  <!-- We only want to show the plus sign for the first element, and only when there's 3 or less -->
                  <div class="dynamic-row-add col-sm-1"
                       [ngClass]="i ==0 && phone_numbers.controls.length < MAX_PHONE_NUMBER_TYPES ? ''  : 'd-none'">
                    <a (click)="addPhoneNumber()">
                      <i class="fas fa-plus pull-right"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div formArrayName="addresses"
                   *ngFor="let address of addresses.controls; let j=index">
                <div [formGroupName]="j">
                  <div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">Address:</label>
                    <div class="col-sm-5" [ngClass]="hasAddressBeenPlaced[j] ? 'd-none' : ''">
                      <input class="form-control" autocomplete="street-address"
                             formControlName="address_lookup"
                             ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event, j)"
                             placeholder="508 Saint Cloud Road, Bel Air, MD 21014">
                    </div>
                    <div class="panel-toggler col-sm-1" [ngClass]="hasAddressBeenPlaced[j] ? 'd-none' : ''">
                      <!--<a (click)="showFullAddress[j] = !showFullAddress[j]" [ngClass]="hasAddressBeenPlaced[j] ? 'd-none' : ''">-->
                      <!--<span [ngClass]="showFullAddress[j] ? 'collapsed' : ''">-->
                      <!--<i-->
                      <!--class="fa fa-chevron-left pull-right "></i>-->
                      <!--</span>-->
                      <!--</a>-->
                    </div>
                    <div class="col-sm-6" [ngClass]="hasAddressBeenPlaced[j] ? '' : 'd-none' "
                         style="padding-top: 8px;">
                      Edit the address below.
                    </div>
                    <div class="col-sm-3 ">
                      <select class="form-control" formControlName="address_type"
                              [ngClass]="addresses.errors ? 'is-invalid' : ''">
                        <option value="home">Home</option>
                        <option value="work">Work</option>
                        <option value="alternate">Alternate</option>
                      </select>
                      <span class="invalid-feedback" *ngIf="addresses.errors   ">
                           You've specified the same address type multiple times.
                           </span>
                    </div>
                    <div class="dynamic-row-add col-sm-1"
                         [ngClass]="j ==0 && addresses.controls.length < MAX_ADDRESS_TYPES ? ''  : 'd-none'">
                      <a (click)="addAddress()">
                        <i class="fas fa-plus pull-right"></i>
                      </a>
                    </div>
                  </div>
                  <div [ngbCollapse]="!showFullAddress[j]" class="offset-1">
                    <div class="form-group row">
                      <label class="col-form-label col-sm-2 text-sm-right ">Line 1:</label>
                      <div class="col-sm-6">
                        <input class="form-control" placeholder="508 Saint Cloud Road" formControlName="line1">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-sm-2 text-sm-right ">Line 2:</label>
                      <div class="col-sm-6">
                        <input class="form-control" placeholder="Apartment #1906" formControlName="line2">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-sm-2 text-sm-right ">City:</label>
                      <div class="col-sm-6">
                        <input class="form-control" placeholder="Bel Air" formControlName="city">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-sm-2 text-sm-right ">State:</label>
                      <div class="col-sm-6">
                        <input class="form-control" placeholder="MD" formControlName="state">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-sm-2 text-sm-right ">Postal Code:</label>
                      <div class="col-sm-6">
                        <input class="form-control" placeholder="21015" formControlName="postal_code">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-sm-2 text-sm-right ">Country:</label>
                      <div class="col-sm-6">
                        <input class="form-control" placeholder="21015" formControlName="country">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-sm-2 text-sm-right">Organization:</label>
                <div class="col-sm-4">

                  <ng-template #organizationSearchResultTemplate let-r="result" let-t="term">
                    <!--<img [src]="r['flag']" width="16" class="mr-1"> -->
                    {{ r.name}}
                  </ng-template>
                  <input class="form-control" [ngClass]="isNewOrganization ? 'is-valid' : ''" formControlName="organization_id" type="text"
                          [ngbTypeahead]="searchOrganizations"
                         [resultTemplate]="organizationSearchResultTemplate" (blur)="onOrganizationFieldChanged()"
                         [inputFormatter]="formatSelectedOrganization" placement="bottom-left"
                         placeholder="Dunder Mifflin">

                </div>

                <label class="col-form-label col-sm-2 text-sm-right">Job Title:</label>
                <div class="col-sm-4">
                  <input class="form-control" formControlName="job_title" type="text" autocomplete="organization-title">
                </div>
              </div>
              <div class="row" [ngClass]="!isNewOrganization ? 'd-none' : ''">
                <div class="col-sm-12 " style="padding-left: 150px; padding-bottom: 30px">
                   <small style="display: block !important;" class="valid-feedback"><strong>New Organization Detected:</strong> The organization you entered does not exist; we will create it for your
                    automatically when you save this record.
                  </small>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-sm-2 text-sm-right">Role(s):</label>
                <div class="col-sm-4">
                  <input class="form-control" formControlName="contact_role_ids" type="text">
                </div>
                <label class="col-form-label col-sm-2 text-sm-right">Credentials:</label>
                <div class="col-sm-4">
                  <input class="form-control" formControlName="certifications" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Additional Profile Information">
      <ng-template ngbTabContent>
        <div class="card-body ">
          <div class="row">
            <div class="form-group col-sm-4">
              <label class="form-label ">Gender:</label>
              <select class="form-control" autocomplete="sex" formControlName="gender">
                <option></option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
            <div class="form-group col-sm-4">
              <label class="form-label ">Date of Birth:</label>
              <input class="form-control" type="text" placeholder="mm/dd/yyyy" autocomplete="bday"
                     formControlName="date_of_birth">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-10">
              <label class="form-label ">Notes:</label>
              <textarea class="form-control" placeholder="Any pertinent notes, info, etc."
                        rows="5"
                        formControlName="notes"></textarea>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Social Networks">
      <ng-template ngbTabContent>
        <div class="card-body ">
          <div class="form-group row">
            <label class="col-form-label col-sm-2 text-sm-right"><i class="fab fa-facebook"></i> Facebook:</label>
            <div class="col-sm-8 " style="line-height: 35px">
              <input class="form-control" type="text">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-2 text-sm-right"> <i class="fab fa-instagram"></i> Instagram:</label>
            <div class="col-sm-8 " style="line-height: 35px">
              <input class="form-control" type="text">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-2 text-sm-right"> <i class="fab fa-twitter-square"></i> Twitter Handle:</label>
            <div class="col-sm-8 " style="line-height: 35px">
              <input class="form-control" type="text">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-2 text-sm-right"> <i class="fab fa-linkedin-in"></i> LinkedIn:</label>
            <div class="col-sm-8 " style="line-height: 35px">
              <input class="form-control" type="text">
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Custom Demographics">
      <ng-template ngbTabContent>
        <div class="card-body ">
          <div class="row" class="p-lg-5">
            No custom demographics have been configured.
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <div class="row rs-max-panel-width  ">
    <div class="col-md-12  ">
      <div class="form-group " style="text-align: center">
        <BR>
        <button [ladda]="isSaving" (click)="saveChanges()" data-style="expand-right" class="btn btn-round btn-primary"
                [disabled]="this.contactForm.invalid"
                type="submit">Save Changes
        </button>
        <button class="btn  btn-round btn-outline-secondary m-lg-3" type="cancel">Cancel</button>
      </div>
    </div>
  </div>
</form>
