.duplicate-checking-no-duplicates {
  color: green;

}

.duplicate-checking-duplicates-detected {
  color: red;



}


.duplicate-checking-duplicates-detected a {


  text-decoration: underline;

}


.duplicate-checking {
  font-weight: bold;
  margin-right: 10px;
}

.user-avatar {
  text-align: center;
}

.user-avatar i.fa-user-circle {
  font-size: 100px;
}


.side-panel {
  padding-left: 50px
}


.btn-take-photo {

  margin-top: 17px;
  text-align: center;

}

.add-organization-button {
    /* vertical-align: bottom; */
    padding-top: 22px;
}

.panel-toggler {
  transition: .3s transform ease-in-out;
  cursor: pointer;
}
.panel-toggler .collapsed  {
  transform: rotate(90deg);
}

.fa-plus {
  color: green;
}
