
.user-avatar {
  text-align: center;
}

.user-avatar i.fa-user-circle {
  font-size: 100px;
}


.side-panel {
  padding-left: 50px
}


.btn-take-photo {

  margin-top: 17px;
  text-align: center;

}

.add-organization-button {
    /* vertical-align: bottom; */
    padding-top: 22px;
}

.panel-toggler{
  cursor: pointer;

}
.panel-toggler .fa {
  transition: .3s transform ease-in-out;


}
.panel-toggler .collapsed .fa  {
  transform: rotate(-90deg);
}

.fa-plus {
  color: green;
}
